body {
    padding: 0;
    margin: 0;
    color:#00000099;
}

#campo-minado {

}

#campo-minado header {
    
    border:solid 1px #636363;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

#campo-minado .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#campo-minado .actions #timer-game{
    font-size: 20px;
    padding: 10px 20px;
    border: solid 1px #000;
}

#campo-minado .actions input[type="button"] {
    background: #fff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 16px;
    padding:  11px 21px;
}

#campo-minado .game {

}

#campo-minado .game .row { 
    display: flex;
    justify-content: center;
}

#campo-minado .game .row .squad { 
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    vertical-align: top;
    background: #a5a5a5;
    border: outset 3.5px #ddd;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

#campo-minado .game .row .squad:hover { 
    background: #8f8f8f;
}

#campo-minado .game .row .squad.isActive { 
    background: #a5a5a5;
    cursor: default;
    border: solid #696969 .5px;
}

#campo-minado .game .row .squad.isActive:hover { 
    background: #a5a5a5;
}


#campo-minado .game .row .squad.bomb {
    color: red;
}
