body {
    padding: 0;
    margin: 0;
    color:#00000099;
}


header {
    
    border:solid 1px #636363;
    padding: 5px 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.face-container{
	background: yellow;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.eyes{
	display:flex;
   	justify-content: space-between;
    width: 25px;
    margin: 0px auto;
    padding-top: 15px;
}
.eyes > div {
	background: #000;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}
.sad {
	width: 25px;
    height: 5px;
    margin: 0 auto;
    margin-top: 10px; 
    border: solid 2.5px #000;
    border-color: #000 transparent transparent transparent;
    border-radius: 50%/25px 25px 0 0;
}

.smile {
	width: 25px;
    height: 5px;
    margin: 0 auto;
    margin-top: 10px; 
    border: solid 2.5px #000;
    border-color: transparent #000 #000 #000;
    border-radius: 0 0 25px 25px;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actions #timer-game{
    font-size: 20px;
    padding: 10px 20px;
    border: solid 1px #000;
}

.actions input[type="button"] {
    background: #fff;
    font-weight: 400;
    border-radius: 4px;
    font-size: 16px;
    padding:  11px 21px;
}

.game {

}

.game .row { 
    display: flex;
    justify-content: center;
}

.game .row .squad { 
    width: 35px;
    height: 35px;
    box-sizing: border-box;
    vertical-align: top;
    background: #a5a5a5;
    border: outset 3.5px #ddd;
    line-height: 35px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}

.game .row .squad:hover { 
    background: #8f8f8f;
}

.game .row .squad.isActive { 
    background: #a5a5a5;
    cursor: default;
    border: solid #696969 .5px;
}

.game .row .squad.isActive:hover { 
    background: #a5a5a5;
}


.game .row .squad.bomb {
    color: red;
}
